<form>
    <input type="text" placeholder="enter location">
    <button>Search</button>
    <textarea name="weatherBoard" id="weatherBoard" cols="30" rows="10" placeholder="Weather Info"></textarea>
</form>